*,
*, ::before
*, ::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

/* navbar styling */
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background-color: #E9EDC9;
  }
  

  nav {
    padding: 30px;
    background-color: #A3C18F;
  }
  
  nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  nav a.router-link-exact-active {
    color: #42b983;
  }
  
  body{
    background-color: #E9EDC9;
  }

